[Unit]
Description=Marathon service
After=network.target network-online.target
Wants=network-online.target

[Service]
EnvironmentFile={{marathon_home}}/environment
WorkingDirectory={{marathon_home}}
ExecStart=/bin/bash -c "{{marathon_home}}/app/bin/marathon --master $MASTER --zk $ZK --task_launch_timeout {{marathon_task_timeout}} --mesos_authentication --mesos_authentication_principal {{marathon_mesos_principle}} --mesos_authentication_secret {{marathon_mesos_secret}} --mesos_role {{marathon_mesos_role}}"
Type=simple
User={{marathon_user}}

[Install]
WantedBy=multi-user.target
